#galleryDiv {
    display: block;
    color: black;
    
  }

#wall {
    height: 2000px;
    width: 100%;
    background: #111;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 50px;
}

#catnav {
  /* height: 800px; */
}


input[type=checkbox] {
  /* visibility: hidden; */
  background: var(--col3);
  padding: 0;
  top:-1px;
  left:0px;
}

.chk-cr {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  border: 1.5px solid white;
  color: white;
  font-size: 10px;
  font-weight: 200px;

  text-align: center;
  padding-top: 1px;

}

.chk-cr.checkd {
  background: var(--col3);
  box-shadow: 0px 0px 10px 1px var(--col2);
}
 #catnav a {
   font-size: 20px;
 }