#galleryDiv {
    display: block;
    color: black;
    
  }

#wall {
    height: 2000px;
    width: 100%;
    background: #111;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 50px;
}

#catnav {
  /* height: 800px; */
}