#vid_foreground {
    width: 100%;
}

#bgvid { 
  position: fixed;
  min-width: 100%;
  min-height: 150%;
  top:-30px;
  width: auto;
  height: auto;
  z-index: -100;
  /* background: url(polina.jpg) no-repeat; */
  background-size: cover; 
  background-size: 100% 100%;
  opacity: 0.4;

  z-index: -1000;
}

#welcome_banner {
  /* padding-top: 200px; */
  height: 500px;
  background-color: #f872b591;
  background-image: url("/resources/images/3.png");
  object-fit: cover;
  opacity: 1;
  background-repeat:no-repeat;
  background-position: center;
  font-family: "FancyFont", cursive;
  font-size: 60px;
  text-align: center;
}

#homeDiv {
  display: block;
}

#servicescont {
  height: 500px;
}

#client_reviews {
  height: 400px;
  background-color: var(--blockfocus);

  /* background-image: url("/resources/images/4.jpg"); */

  background-size: 100%;
  /* opacity: 0.8; */
  object-fit: cover;

  overflow: hidden;

  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

   -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;


}

.wrapper {
  height: 400px;
  overflow: hidden;
  /* padding-top: 50px; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "FancyFont", cursive;
  font-size: 30px;
}

.wrapper h3 {
  margin: 4px 0;
}


.image_review {
  height: 308px;
  width: 30%;
  /* background-color:var(--txtHovCol);
  background: var(--txtHovCol); */
  border-radius: 7px;
  
  display: inline-block;
	clear: left;
	vertical-align: top;
	position: relative;
	overflow: hidden;
  

  margin-right: 3%;

  min-width: 300px;
  max-width: 320px;

  margin-bottom: 100px;


  object-fit: fill;

  background-size: 100%;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}



.innerMessage div {
  padding: 10px;
  opacity: 1;
  font-weight: 500;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.innerMessage {
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

.innerMessage a {
  font-weight: 600;
}

/* Options for gallery cards */

/* .image_review .slideout {
  width:0;
  height: 100%;
  background: #f7a3cd91;
  opacity: 0;
  transition: width 0.4s ease-in-out, opacity 0.5s linear;
}

.image_review:hover .slideout {
  width:100%;
  opacity:0.9;
} */

.innerMessage {
  width: 100%;
  height: 100%;
  background: #f7a3cd91;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.image_review:hover .innerMessage {
  opacity: 0.9;
}

#client_reviews:hover .innerMessage {
  opacity: 0.9;
}

/* .flip-card-inner {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.image_review:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.image_review:hover .flip-card-back {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-size: 100%;
  object-fit: fill;
}

.flip-card-back {
  background-color: #f7a3cd91;
  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  transform: rotateY(180deg);
} */







#contactUs {
  width: 100%;
  height: 240px;
  background-color: var(--col1);
  padding: 0 ;
  padding-left: 2.5%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-family: 'JetBrains Mono', monospace;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: normal;

  font-weight: 100;
  letter-spacing: 2px;

  align-items: center;
  color: var(--txtBaseCol);

  overflow-y: hidden;

  
}







#contactUs h3 {
  text-transform: uppercase;
  /* font-family: 'Courier New', Courier, monospace;
  font-family: 'JetBrains Mono', monospace; */
  font-weight: 200;
  letter-spacing: 2px;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}






.innerDiv {
  width:40%;
  height: 180px;
  min-width: 465px;
  /* background: aqua; */
  float: left;
  margin: 14px 0;
  padding: 0;
  
}

#contactUs ul {
  /* text-align: left; */
  float: left;
  list-style: none;
  /* padding:0; */
  

}

.descript {
  width: 15%;

  
  font-weight: 200;

  padding-left: 3px;  

  text-align: right;

  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.varib {
  width: 60%;
  padding: 0;
  padding-left: 10px;

  text-align: left;
  color: var(--txtHovCol);
  cursor: pointer;

}

.varib li:hover a{
  color: var(--txtBaseCol);
  
}

.varib a {
  text-decoration: none;
  color: inherit;
}


.spacer {
  height: 17px;
}





#matt_add_bar {
  width: 100%;
  background:rgb(242,197,217);
  /* background: linear-gradient(90deg, var(--col1) 0%, var(--col2) 30%, var(--col1) 50%, var(--col2) 80%, var(--col1) 100%); */
  height: 50px;
  bottom: 0;
  margin-bottom: 0;

  font-family: "Lato", Sans-serif;
  font-size: 11px;
  font-weight: 600;

  text-transform: uppercase;
  letter-spacing: 4px;

  padding-top: 32px;

  text-align: center;
}
