:root {
    --col2: #FC9396;
    --col1: #682340;
    --col3: #94455a;
    --txtHovCol: #FC9396;
    --txtBaseCol: #bb6b86;
    --blockfocus: #bb6b86;
    --blockfocus2: #fdacd4;
    --bodyBack: black;

    --fontSizeStand: 15px;
    --fontSizeHov: 17px;

    --headerColours: linear-gradient(90deg, var(--col1) 0%, var(--col2) 24%,  var(--col3) 50%,  var(--col2) 87%, var(--col1) 100%);
    --headerColours: linear-gradient(90deg, var(--col1) 10%, var(--col2) 50%,  var(--col1) 90%);
  }


  @font-face {
    font-family: "FancyFont";
    src: url("/resources/fonts/DancingScript-VariableFont_wght.ttf") format("opentype");
    }

  @font-face {
    font-family: 'JetBrains Mono', monospace;
    src: url("/resources/fonts/JetBrainsMono-VariableFont_wght.ttf") format("opentype");
  }

  @font-face {
    font-family: 'JetBrains Mono Italic', monospace;
    src: url("/resources/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("opentype");
  }

  

img, a {
  -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

body {
    background: var(--bodyBack);
    background-image: url("/Design/ImagesExport/Design1/BackgroundGlitter.png");
    object-fit:cover;
    background-position: bottom;
    margin: 0;
    padding:0;
    min-width: 1000px;
    overflow-x: hidden;
}
html {
    padding: 0;
}

#topNav {
    background:rgb(242,197,217);
    background: var(--headerColours);
    height: 100px;
    overflow: hidden;
}

#header {
    background:rgb(242,197,217);
    background: var(--headerColours);
    margin-bottom: 0;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

   -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#header img {
  height: 80px;
  transition: all 1s linear;
}

h2 {
    margin:0;
    text-align: center;
}

/* Style the navbar */
  
  /* Navbar links */
  #topNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .innerBody {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .innerBody {
    padding-top: 60px;
  }

  #beforeNav, #afterNav{
    background-color: var(--bodyBack);
    border-top: 4px var(--txtBaseCol);
    border-bottom: 4px var(--txtBaseCol);
    box-shadow: 0px 10px 6px 15px var(--txtBaseCol);
    border-style: solid;
    height: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #afterNav {
    display: inline-block;
    vertical-align: bottom;
  }

  #nav{
    list-style:none;
    padding: 10px 0 19px 0;
    margin:0;
    min-height: 30px;
    max-height: 30px;

    width: 100%;
    text-align:center;
    box-shadow: 0px 7.5px 7px 0px var(--headerColours);
    background: black;


    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

   -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    z-index: 5;

    border-bottom: 12px double var(--txtBaseCol );
    box-shadow: 0px 2px 2px 2px var(--txtBaseCol);
}

#navimg {
  position: relative;
  height: 50px;
  top:18px;
  left: -5%;
  
  transition: all 0.4s linear;
  opacity: 0%;
}

#nav > li{
    position:relative;
    display:inline;
    margin-right: 10px;
    top: -25px;
    left: -2%;
}
#nav > li > a{
    display:inline-block;
    padding:10px;
    font-size: var(--fontSizeStand);
    transition: all .2s linear;
    color:var(--txtBaseCol);
    text-decoration:none;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    
}

#nav a img {
  height: 5px;
  
}

#nav > ul{
    position:absolute;
    margin:0;
    padding:0;
    text-align:left;
}
#nav > ul > li{
    min-height: 18px;
    max-height: 18px;
}
#nav li:hover ul{
    left:0;
}


#nav > ul > a{
    white-space:nowrap;
    display:block;
    margin: 0 10px 0 10px;
}


#nav > li:hover > a{
    color:var(--txtBaseCol);
    color: var(--txtHovCol);
    font-size: var(--fontSizeHov);
    text-shadow: 0px 0px 2px var(--col2);
}

#nav > li > a:focus {
    background: var(--blockfocus);
    text-shadow: 2px 10px var(--blockfocus);
    border-radius: 3px;
    color:#383F50;
    color: var(--bodyBack);
    outline: none;
}


/* Scroll Bar */

/* width */
::-webkit-scrollbar {
    width: 7px;    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bodyBack);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    transition: all 1s linear;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 10px;
  }


  /* Dropdown content */

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--col2);
    background-color: inherit;
    
    z-index: 1;
    left: -20px;
    top: 0;
    max-width: 130px;
    min-width: 130px;

    transition: all .5s ease;

    opacity: 0;
    height: 0;

    cursor: pointer;
  }

  #nav .dropdown-content .innerlink:focus {
    background: var(--blockfocus2);
  }

  #nav li:hover .dropdown-content .innerlink{
    color: var(--txtBaseCol);
    font-size: 14px;
  }

  #nav li:hover .dropdown-content .innerlink:hover{
    color: var(--txtHovCol);
    font-size: 16px;
  }

  .spacer{
    height: 9px;
    background: inherit;
    background-color: inherit;
  }
  

  /* Image Reviews */

  .innerMessage div {
    padding: 10px;
    opacity: 1;
    font-weight: 500;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .innerMessage {
    text-align: center;
    justify-content: center;
    font-size: 30px;
  }
  
  .innerMessage a {
    font-weight: 600;
  }
  
  .innerMessage {
    width: 100%;
    height: 100%;
    background: #f7a3cd91;
    opacity: 0;
    transition: all 0.7s ease-in-out;
  }
  
  .image_review:hover .innerMessage {
    opacity: 0.9;
  }

